pkgbase = qarma-git
	pkgdesc = A drop-in replacement clone for zenity, written in Qt4/5
	pkgver = 20
	pkgrel = 6
	url = https://github.com/luebking/qarma
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	depends = qt5-base
	depends = qt5-x11extras
	provides = qarma
	provides = qzenity
	conflicts = qarma
	source = git://github.com/luebking/qarma.git
	source = qzenity.sh
	md5sums = SKIP
	md5sums = 18d81578b4b549aa5cf6bc1a33de6289

pkgname = qarma-git

